@keyframes waterfall {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  
  .waterfall-container {
    position: absolute;
    top: 46%;
    left: calc(45% * 1.0);
    width: 10%;
    height: 60%;
    overflow: hidden;
    /* background-color: #F2CD88; */
  }
  
  .waterfall {
    position: absolute;
    top: 52%;
    left: 5%;
    width: 8%;
    height: 47%;
    background-color: rgb(172, 134, 57);
    /* background-color: rgb(111, 76, 11); */
    animation: waterfall 0.33s linear infinite;
  }
  
  .waterfall:nth-child(2) {
    left: 16%;
    animation-delay: 0.05s;
  }
  
  .waterfall:nth-child(3) {
    left: 32%;
    animation-delay: -0.42s;
  }
  
  .waterfall:nth-child(4) {
    left: 41%;
    animation-delay: -0.22s;
  }
  
  .waterfall:nth-child(5) {
    left: 52%;
    animation-delay: -1.3s;
  }

  .waterfall:nth-child(6) {
    left: 68%;
    animation-delay: -0.8s;
  }

  .waterfall:nth-child(7) {
    left: 80%;
    animation-delay: 0.03s;
  }