.garden {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 480px;
    overflow: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3px;
    background-color: transparent;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.nav {
    cursor: pointer;
    font-size: 30px;
}

.days {
    display: flex;
    width: 100%;
}

.day {
    flex: 1;
    text-align: center;
    padding: 5px 0;
}

.cells {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.week {
    display: flex;
}

.cell {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    cursor: pointer;
}

.today {
    border: 2px solid #4caf50;
}

.disabled {
    opacity: 0.3;
}

.number {
    font-size: 24px;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.tooltip {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
