.outerContainer {
    padding: 20px;
}

.h3 {
    margin-bottom: 16px;
    font-size: 1.5em;
}

.hourglassDetail {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
}

.textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 30px;
}



.saveButton, .cancelButton, .editButton {
    padding: 2px 15px;
    margin-top: 8px;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 2px;
    border-radius: 4px;
    cursor: pointer;
}

.saveButton {
    background-color: #F2CD88;
    color: black;
}

.cancelButton {
    background-color: #F2CD88;
    color: black;
}

.editButton {
    background-color: #F2CD88;
    color: black;
}

.textDisplay {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-bottom: 7px;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 30px;
}
